<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Gallery</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'/>
    <link rel="stylesheet" href="/static/photoswipe.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/justifiedGallery.min.css"/>
    <script src="/static/jquery.justifiedGallery.min.js"></script>
<script type="text/javascript" src="http://andywer.github.io/jquery-dim-background/jquery.dim-background.min.js"></script>
    <style>
        .file-upload {
            display: flex;
            align-items: center;
            /*visibility: hidden; */ background-color: #ffffff;
            opacity: 0;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;           
            justify-content: center;
        }
    </style>
    <script type="module" crossorigin="anonymous">
        import PhotoSwipeLightbox from '/static/photoswipe-lightbox.esm.js';

        const lightbox = new PhotoSwipeLightbox({
            gallery: '#mygallery',
            children: 'a',
            showHideAnimationType: 'zoom',
            pswpModule: () => import('/static/photoswipe.esm.js'),
        });
        lightbox.on('uiRegister', function() {
          lightbox.pswp.ui.registerElement({
            name: 'delete-button',
            order: 8,
            isButton: true,
            tagName: 'button',

            html: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" aria-hidden="true" fill="currentColor" class="bi bi-trash3 pswp__icn" viewBox="-6 -6 28 28"><path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/></svg>',

            onInit: (el, pswp) => {
              el.setAttribute("type", "submit")
              el.setAttribute("form", "delete_form")

              pswp.on('change', () => {
                var delete_form = document.getElementById("delete_form");
                delete_form.setAttribute("action", pswp.currSlide.data.src)
                console.log(pswp.currSlide.data)
              });
            }
          });
        });
        lightbox.init();
        $("#mygallery").justifiedGallery({
            rowHeight: 200,
            waitThumbnailsLoad: false,
        });
    </script>
    <script>
        function show_form() {
            var form_upload = document.getElementById("file-upload")
            var gallery = document.getElementById("gallery")

            form_upload.style.opacity = "1"
            $("#file-upload").dimBackground();
            gallery.style["pointer-events"] = "none"
        
        }

        function hide_form() {
            var form_upload = document.getElementById("file-upload")
            var gallery = document.getElementById("gallery")

            form_upload.style.opacity = "0"
            $("#file-upload").undim()
            gallery.style["pointer-events"] = ""
        }
    </script>
</head>
<body>
<div class="file-upload position-absolute top-50 start-50 translate-middle rounded p-4" id="file-upload">
    <div class="position-fixed fixed-top">
        <button type="button" class="btn-close" aria-label="Close" style="float: right" onclick="hide_form()"></button>
    </div>
    <form method="post" enctype="multipart/form-data" action="{{ url_for("gallery.upload") }}">
        <h1 class=''>File uploading</h1>
        <div class="mb-3">
            <!-- <label for="formFile" class=""></label> -->
            <input class="form-control" type="file" id="photo" name="photo" required accept="image/png, image/jpeg" multiple>
        </div>
        <button type="submit" class="btn btn-dark">Upload</button>
    </form>
</div>
<div id="gallery">
    <header class="bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <span class="fs-2 me-lg-auto">My gallery</span>
                <div class="col-md-4 text-end">
                    <span class="fs-5 me-2">{{ username }}</span>
                    <button class="btn btn-outline-light me-2" type="button" onclick="show_form()">Add image</button>
                    <button class="btn btn-outline-light" type="button" onclick="location.href='/logout'">Logout</button>
                </div>
            </div>
        </div>
    </header>
    <div class="p-3" id="mygallery">
        <form method="post" id="delete_form"></form>
        {% for image in images %}
            <a href="{{url_for("gallery.get_image_from_db", img_id=image.id )}}"
               data-pswp-width="{{ image.img_width }}"
               data-pswp-height="{{ image.img_height }}"
               target="_blank"
               data-cropped="false"
                onload="">
                <img src="{{url_for("gallery.get_thumb_from_db", img_id=image.id)}}" width="{{image.thumb_width}}" height="{{image.thumb_height}}" alt=""/>
            </a>
        {% endfor %}
    </div>
</div>
</body>
</html>
