{% extends "center_content.html" %}

{% block content %}
    <form action='login' method='POST'>
        <h1 class=''>Login</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p class="text-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg>
                    {{ messages[0] }}
                </p>
            {% endif %}
        {% endwith %}
        <div class='form-floating mb-4'>
            <input type='text' size='40' name='username' class='form-control' id='username' required>
            <label for='username' class=''>Username</label>
        </div>
        <div class='form-floating mb-4'>
            <input type='password' size='40' name='password' class='form-control' id='password' required>
            <label for='password' class=''>Password</label>
        </div>
        <button type='submit' class='w-100 btn btn-lg btn-dark'>Login</button>
    </form>
    <div class="pt-4 w-100">
        <button type='submit' class='w-100 btn btn-lg btn-dark' onclick="location.href='signup'">Signup</button>
    </div>
{% endblock %}
